#{extends 'main.html' /}

<form name="generateapiform" action="@{TestClient.generateApiKeysSubmitted()}" method="POST">
    <table>
        <tr>
            <td>User Agent: </td>
            <td><input type="text" name="user" /></td>
        </tr>
    </table>
    <input type="button" name="GenerateKeysBtn" value="Generate Keys" onclick="submitForm()" />
</form>

<br />
<hr>
<br />
#{list items:authkeys, as:'authkey'}
    user agent: ${authkey.user}<br/>
    api key: ${authkey.apiKey}<br/>
    secret key: ${authkey.secretKey}<br/>
    <br/>
#{/list}

<script type="text/javascript">
function submitForm()
{
    if (jQuery.trim(document.generateapiform.user.value) == "") {
        alert("Please enter a user agent");
        return;
    }

    document.generateapiform.submit();
}
</script>