.identity
.python-version
*.egg-info
*.iml
*.ipr
*.iws
*.pyc
.classpath
.env
.gradle/
.hypothesis
.idea/*
.project
.rvmrc
.settings
.tox
.vagrant
build
classes
nosetests.xml
out
tags
target
target/*
.DS_Store
rpmbuild/rpmbuild
*.log
rpmbuild/master
rpmbuild/rpms
rpmbuild/source
src/*/resources/build_info.properties
performance/identity-perf-agent/.idea
tests/api/utils/keys/
mitmproxy/data/
.venv
venv
.idea
instance/
_scratch*
