*.iml
*.ipr
*.iws
*.pyc
.classpath
.gradle/
.idea/*
.project
.rvmrc
.settings
.vagrant
build
classes
out
tags
target
target/*
.DS_Store
rpmbuild/rpmbuild
rpmbuild/master
rpmbuild/rpms
rpmbuild/source
