#{extends 'main.html' /}
#{set title:'Rackspace Administrators' /}

<style type="text/css">
    input.signup_field {
        width: 180px;
    }

    .field_checkmark {
        padding-left: 3px;
    }

    .requirement_bullet_gray {
        margin-left: 10px;
        color: #999;

        list-style: none;
        background: url('/public/images/bullet-red.png') no-repeat;
        background-position: 0px 7px;
        padding-left: 14px;
    }

    .requirement_bullet_green {
        margin-left: 10px;
        color: #339900;

        list-style: none;
        background: url('/public/images/checkmark-green.png') no-repeat;
        background-position: 0px 4px;
        padding-left: 14px;
    }

    .requirements_box {

        padding: 5px 15px 15px 10px;
        margin: 10px 15px 15px 10px;
        border: 1px solid #ccc;
        width: 280px;
        position: relative;
    }

    .label_top_pad {
        padding-top: 10px;
    }

    ul li {
        margin-top: 10px;
    }

</style>

<form name="addadminform" action="@{Administrators.addSubmitted()}" method="post">

    <div class="configure-title" style="margin-top: 20px; float: left;">
        Add Administrator
    </div>
    <div class="configure-body" style="height: 370px; float: left;">
        <table>
            <tr>
                <td valign="top">
                    <table>

                        <!-- user info -->

                        <tr>
                            <td class="label_top_pad">
                                <label>Username</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input name="username" type="text" class="signup_field" onkeyup="validateUsername()" onfocus="toggleRequirements(this)" maxlength="100" /></td>
                                        <td class="field_checkmark"><img id="username_validated" src="/public/images/check_icon.png" alt="id name validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="label_top_pad">
                                <label>Password</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input type="password" name="password" type="text" class="signup_field" onkeyup="validatePassword()" onfocus="toggleRequirements(this)" maxlength="100" /></td>
                                        <td class="field_checkmark"><img id="password_validated" src="/public/images/check_icon.png" alt="password validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="label_top_pad">
                                <label>First Name</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input name="firstname" type="text" class="signup_field" onkeyup="validateFirstname()" onfocus="toggleRequirements(this)" maxlength="100" /></td>
                                        <td class="field_checkmark"><img id="firstname_validated" src="/public/images/check_icon.png" alt="first name validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="label_top_pad">
                                <label>Last Name</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input name="lastname" type="text" class="signup_field" onkeyup="validateLastname()" onfocus="toggleRequirements(this)" maxlength="100" /></td>
                                        <td class="field_checkmark"><img id="lastname_validated" src="/public/images/check_icon.png" alt="last name validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="label_top_pad">
                                <label>Email</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input name="email" type="text" class="signup_field" onkeyup="validateEmail()" onfocus="toggleRequirements(this)" maxlength="100" /></td>
                                        <td class="field_checkmark"><img id="email_validated" src="/public/images/check_icon.png" alt="email validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="label_top_pad">
                                <label>Secret Question</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input name="secretquestion" type="text" class="signup_field" onkeyup="validateSecretQuestion()" onfocus="toggleRequirements(this)" maxlength="200" /></td>
                                        <td class="field_checkmark"><img id="secretquestion_validated" src="/public/images/check_icon.png" alt="secret question validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="label_top_pad">
                                <label>Secret Answer</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><input name="secretanswer" type="text" class="signup_field" onkeyup="validateSecretAnswer()" onfocus="toggleRequirements(this)" maxlength="200" /></td>
                                        <td class="field_checkmark"><img id="secretanswer_validated" src="/public/images/check_icon.png" alt="secret answer validated" style="width: 14px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="padding-left: 20px;">
                    &nbsp;
                </td>

                <td valign="top">
                    <div style="margin: 10px 0 0 10px;"><label>Requirements:</label></div>

                    <div id="uname_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_idvalidchar" class="requirement_bullet_gray">Only Alphanumeric characters and periods ("."), hyphens ("-"), and underscores ("_") in the Username</li>
                            <li id="req_idlength" class="requirement_bullet_gray">Username is at least 3 characters long</li>
                            <li id="req_idnottaken" class="requirement_bullet_gray">Username is not taken</li>
                        </ul>
                    </div>

                    <div id="pwd_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_pwdvalidchar" class="requirement_bullet_gray">Password contains an upper case letter, a lower case letter, a number, and a symbol</li>
                            <li id="req_pwdlength" class="requirement_bullet_gray">Password is at least 7 characters long</li>
                            <li id="req_pwdnosequence" class="requirement_bullet_gray">Password must not contain a sequence of numbers of 3 or more</li>
                            <li id="req_pwdvalidword" class="requirement_bullet_gray">Password isn't a forbidden word</li>
                            <li id="req_pwdnoname" class="requirement_bullet_gray">Password doesn't contain the Username</li>
                        </ul>
                    </div>

                    <div id="firstname_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_firstnamelength" class="requirement_bullet_gray">First Name is at least 2 characters long</li>
                        </ul>
                    </div>

                    <div id="lastname_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_lastnamelength" class="requirement_bullet_gray">Last Name is at least 2 characters long</li>
                        </ul>
                    </div>

                    <div id="middlename_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_middlename" class="requirement_bullet_green">None</li>
                        </ul>
                    </div>

                    <div id="email_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_emailvalid" class="requirement_bullet_gray">Email is in valid format</li>
                        </ul>
                    </div>

                    <div id="secretquestion_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_secretquestionlength" class="requirement_bullet_gray">Secret question is not blank</li>
                        </ul>
                    </div>

                    <div id="secretanswer_requirements" class="requirements_box" style="display: none;">
                        <ul style="margin: 0; padding: 0;">
                            <li id="req_secretanswerlength" class="requirement_bullet_gray">Secret answer is not blank</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-left: 460px; float: left;">
        <input type="button" id="btn_nextstep" value="Save" onclick="submitForm()"/>
        <input type="button" value="cancel" onclick="window.location='list'" />
    </div>

</form>
<div style="clear: both;"></div>

<script type="text/javascript" src="/public/javascripts/addAdmin.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    $('#username_validated').fadeTo('fast', 0.2);
    $('#password_validated').fadeTo('fast', 0.2);
    $('#firstname_validated').fadeTo('fast', 0.2);
    $('#lastname_validated').fadeTo('fast', 0.2);
    $('#email_validated').fadeTo('fast', 0.2);
    $('#secretquestion_validated').fadeTo('fast', 0.2);
    $('#secretanswer_validated').fadeTo('fast', 0.2);

    $('#btn_nextstep').fadeTo('fast', 0.5);

    document.addadminform.username.focus();

    validateUsername();
    validatePassword();
    validateFirstname();
    validateLastname();
    validateEmail();
    validateSecretQuestion();
    validateSecretAnswer();
});

</script>