#{extends 'main.html' /}
#{set title:'Rackspace Administrators' /}

<style type="text/css">
    .administrators td
    {
        border-bottom: 1px solid gray;
    }
</style>

<form name="administratorsform" method="post" action="#">
    <input type="hidden" name="selecteduser" />

    <div style="border-bottom: 1px solid #999; width: 220px; margin: 30px 0 0 15px; font-weight: bold;">
        Manage Administrators
    </div>
    <div style="margin: 5px 0 0 15px;"><a href="/administrators/add">add new admin</a></div>

    <div style="margin: 20px 0 0 15px;">
        <table cellpadding="3" cellspacing="1" class="administrators">
            <tr>
                <td style="width: 200px;">Username</td>
                <td align="center">Action&nbsp;</td>
            </tr>
        #{list items:users, as:'user'}
            <tr>
                <td>${user.username}</td>
                <td><a href="javascript:editUser('${user.username}')">edit</a>
                    <span style="color: #ccc">|</span>
                    <a href="javascript:deleteUser('${user.username}')">delete</a></td>
            </tr>
        #{/list}
        </table>

        <div style="margin-top: 30px;">
            <a href="/dashboard/index">< back</a>
        </div>

        <div style="height: 200px;">
            
        </div>
    </div>
</form>

<script type="text/javascript">
    function deleteUser(username) {
        var theform = document.administratorsform;

        if (window.confirm("Are you sure you want to delete the user \"" + username + "\"?")) {
            theform.selecteduser.value = username;
            theform.action = "/administrators/delete";
            theform.submit();
        }
    }

    function editUser(username) {
        var theform = document.administratorsform;

        theform.selecteduser.value = username;
        theform.action = "/administrators/edit";
        theform.submit();
    }
</script>