
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>

	<title>Rackspace Cloud Signup - Configure</title>

	<meta http-equiv="content-language" content="en-US" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />

	<meta name="copyright" content="&copy;2010 Rackspace US, Inc." />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="verify-v1" content="enuqjdcvOhaVEfxp3z4w3xL72s1SNBhvGNF5ieeY5i4=" />

	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/cloudsignup-main.css'}" />

        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-plugin-urlencode.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.7.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.cookie.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.simpledialog.0.1.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.glow.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.tooltip.min.js'}" type="text/javascript" charset="utf-8"></script>
</head>

<body>

<div id="page-wrap">
    <div id="frame-wrap">
        <div id="content-wrap">
            #{doLayout /}
        </div>

        
        <img src="@{'/public/images/shadow.png'}" alt="" />
    </div>
</div> <!-- end page-wrap -->
</body>

</html>