
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>

	<title>Rackspace Cloud Signup - Configure</title>

	<meta http-equiv="content-language" content="en-US" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />

	<meta name="copyright" content="&copy;2010 Rackspace US, Inc." />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="verify-v1" content="enuqjdcvOhaVEfxp3z4w3xL72s1SNBhvGNF5ieeY5i4=" />

	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />

        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-plugin-urlencode.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.7.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.cookie.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.simpledialog.0.1.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.glow.min.js'}" type="text/javascript" charset="utf-8"></script>
</head>

<body>

<div id="page-wrap">
    <div id="ceiling-wrap">
        <div id="ceiling-tab-wrap">
            <div class="tab" id="tab-rackspace">
                <a href="https://www.rackspace.com/index.php">Rackspace Home</a>
            </div>
            <div class="tab" id="tab-managed">
                <a href="http://www.rackspace.com/managed_hosting/index.php">Managed Hosting</a>
            </div>
            <div class="tab" id="tab-cloud">
                <a href="http://www.rackspacecloud.com">Cloud</a>
            </div>
        </div>
    </div>

    <div id="frame-wrap">

        <div id="preheader-wrap">
            <div id="clientlogin-wrap">
                <a href="/login"><img src="@{'/public/images/clientlogin.png'}" title="Client Login" alt="Client Login" border="0" /></a>
            </div>
            <div id="supportnumber-wrap">
                <img src="@{'/public/images/supportnumber.png'}" title="Customer Support" alt="Customer Support" />
            </div>
        </div>
        <div style="text-align:center;">
            <a href="/"><img src="@{'/public/images/top-banner.png'}" width="906" height="282" border="0" alt="top banner"/></a>
        </div>

        <div class="threeeleven"></div>

        <div id="content-wrap">
            #{doLayout /}
        </div>

        <div class="threeeleven"></div>
        <div id="footer-wrap">
            <div class="leader"><img src="@{'/public/images/footer-leader.png'}" alt="The World's Leader in Hosting &amp; Cloud Computing" /></div>
        </div>
        <img src="@{'/public/images/shadow.png'}" alt="" />
    </div>
</div> <!-- end page-wrap -->
</body>

</html>