#{extends 'main.html' /}
#{set title:'Dashboard' /}

<style type="text/css">
    .quicklinks li {
        margin-top: 5px;
    }
</style>

<div style="height: 340px">
    <div style="font-size: 12pt; font-weight: bold; color: #009900;">Welcome to the Rackspace Control Panel</div>


    <div style="border-bottom: 1px solid #999; width: 220px; margin: 30px 0 0 10px; font-weight: bold;">
        What would you like to do?
    </div>

    <div style="width: 300px; font-weight: bold;">
        <ul class="quicklinks">
            <li><a href="#">Add mailboxes</a></li>
            <li><a href="#">Add Websites</a></li>
            <li><a href="#">Manage Cloud Files</a></li>
            <li><a href="@{Administrators.list()}">Manage administrators</a></li>
            <li><a href="@{Application.logOut()}">Log Out</a></li>
        </ul>
    </div>
</div>