/******* MENU *******/  
#menu_container{  
    margin: 20px auto;
    float: left;
}  
#menu_container ul{  
    list-style: none;  
    list-style-position: outside;  
}
#menu_container ul.menu {
    margin: 0;
}

#menu_container ul.menu li{  
  
    width: 110px;

    margin-right: 0;  
    margin-bottom: -1px;	
}  
#menu_container ul.menu li{  
    font-weight: 700;  
    
    padding: 10px;  
    background: #efefef;  
    margin-bottom: -1px;  
    border: 1px solid #d0ccc9;  
    border-width: 1px 1px 1px 1px;  
  
    color: #898989;  
    cursor: pointer;  
}  
#menu_container ul.menu li.active{  
    background: #fff;  
    top: 1px;  
    border-right: 0;  
    color: #5f95ef;  
}

#menu_container .tab-menu-filler_a{

	border-right: 1px solid #d0ccc9;
	height: 30px;
}

#menu_container .tab-menu-filler_b{
	border-right: 1px solid #d0ccc9;
	height: 387px;
}

.menu_content{

    width: 600px;
    height: 570px;
  
    margin: 0;
    background: #efefef;  
    background: #fff;  
    border: 1px solid #d0ccc9;
	border-left: 0;
	
    text-align: left;  
    padding: 20px;
}  
.menu_content h1{  
    line-height: 1em;  
    vertical-align: middle;  
    height: 48px;  
    padding: 10px 10px 10px 52px;  
    font-size: 32px;  
}  

.menu_content.menu_users{
    display: block;
}
.menu_content.menu_customers{
    display: none;
}  
.menu_content.menu_clients{
    display: none;  
}
.menu_content.menu_password{
    display: none;
}
.menu_content.menu_tokens{
    display: none;  
}