#{extends 'cloudsignup-main.html' /}
#{set title:'Signup Completed' /}

<div>
    <img src="@{'/public/images/cloudsignup/cloud-hosting-step4.gif'}" alt="done" />
</div>

<div id="content-frame" style="height: 500px;">
    <h2 style="margin-top: 20px;">Account Created</h2>
    <hr size="1" />
    <div style="width: 500px;">
        Thank you for your submission!  Your account has been created,
        you can now login to the <a href="https://manage.rackspacecloud.com" style="color: blue; font-weight: bold;">control panel</a> to start using our services.
    </div>
</div>