#{extends 'cloudsignup-main.html' /}
#{set title:'Signup - Configure' /}

<style type="text/css">
    .rightpad {
        padding-right: 5px;
    }

    .textfield {
        width: 220px;
    }
</style>

<form name="signupform" method="post" action="@{CloudSignup.stepConfigureSubmitted()}">
<input type="hidden" name="selectedServices" />

<div>
    <img src="@{'/public/images/cloudsignup/cloud-hosting-step1.gif'}" alt="step 1" />
</div>

<div id="content-frame">

    <div id="errorMsgCel" class="errorbox" style="display: none;"></div>

    <h2 style="margin-top: 20px;">Sign Up For The Rackspace Cloud</h2>
    <hr size="1" />

    <div style="margin-top: 20px;">
Signing up for The Rackspace Cloud is quick and easy. Complete the form below and you'll have access to your new account in
about 5 minutes. The Rackspace Cloud accepts Visa, MasterCard, and American Express.
    </div>

    <table cellspacing="0" cellpadding="0" border="0" style="margin-top: 30px;">
        <tr>
            <td style="border-right: 1px solid #cccccc; padding-right: 5px;">

                <div class="section-header">
                    Pick Your Product(s)
                </div>
                <hr size="1" />

                <table style="margin-top: 15px;">
                        <tr>
                            <td class="service_option" style="padding-right: 5px;" onclick="toggleServiceOption('cloud_servers')">
                                <img id="img_cloud_servers_option" src="@{'/public/images/cbox-option-off.png'}" width="18" height="18" alt="option" />
                            </td>
                            <td>
                                <input type="hidden" id="cloud_servers_option" name="cloud_servers" />
                                <label class="service_option" onclick="toggleServiceOption('cloud_servers')">Cloud Servers</label> (Starts at $10.95/m or 1.5¢/hr / <b>No Charge Unless You Use It!</b>)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="option_bottom_pad">
                                Instantly available server instances in a variety of sizes. Upgrade, downgrade, or remove a server at any time.</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td align="center" style="font-weight: bold; font-size: 14pt; padding: 10px 0 10px 0">Or</td>
                        </tr>

                        <tr>
                            <td class="service_option" style="padding-right: 5px;" onclick="toggleServiceOption('cloud_sites')">
                                <img id="img_cloud_sites_option" src="@{'/public/images/cbox-option-off.png'}" width="18" height="18" alt="option" />
                            </td>
                            <td>
                                <input type="hidden" id="cloud_sites_option" name="cloud_sites" />
                                <label class="service_option" onclick="toggleServiceOption('cloud_sites')">Cloud Sites</label> (Starts at $149/m)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center" style="padding: 10px 0 10px 0">
                                <span style="font-weight: bold; font-size: 15pt; color: #B0000E;">+ Add On or Order Separately</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="service_option" style="padding-right: 5px;" onclick="toggleServiceOption('cloud_files')">
                                <img id="img_cloud_files_option" src="@{'/public/images/cbox-option-off.png'}" width="18" height="18" alt="option" />
                            </td>
                            <td>
                                <input type="hidden" id="cloud_files_option" name="cloud_files" />
                                <label class="service_option" style="color: #146314" onclick="toggleServiceOption('cloud_files')">Cloud Files</label> (Starts at 15¢ per GB / <b>No Charge Unless You Use It!</b>)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                Unlimited, web-ready storage accessible through the Rackspace Cloud Control panel or via API. If you select this option, you won't be billed today. Instead, your first bill will be in a month based on your usage of Cloud Files.
                            </td>
                        </tr>
                </table>

                <div class="section-header" style="margin-top: 30px;">
                    Please enter in your desired username and password
                </div>

                <hr size="1" />

                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td></td>
                        <td>Username</td>
                        <td style="width: 30px;">&nbsp;</td>
                        <td></td>
                        <td>Email</td>
                    </tr>

                    <tr>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="text" name="username" class="textfield" maxlength="100" value="${username}" /></td>
                        <td></td>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="text" name="useremail" class="textfield" maxlength="100" value="${useremail}" /></td>
                    </tr>

                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Password</td>
                        <td></td>
                        <td></td>
                        <td>Confirm Password</td>
                    </tr>

                    <tr>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="password" name="password" class="textfield" maxlength="100" value="${password}" /></td>
                        <td></td>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="password" name="confirm" class="textfield" maxlength="100" value="${password}" /></td>
                    </tr>
                </table>

                <div style="cursor: pointer; margin-top: 30px;" align="right">
                    <img src="@{'/public/images/cloudsignup/cloud-hosting-next.gif'}" alt="next step" onclick="submitForm()" />
                </div>
                <br />
                <br />
            </td>
            <td valign="top" style="padding-left: 10px;">
                <div>Questions?</div>
                <hr size="1" />
                <div style="font-size: 12pt;">
                    If you have any questions about our Cloud Products, Please <a href="#">Live Chat</a> with us now!
                </div>
            </td>
        </tr>
    </table>
</div>
</form>

<script type="text/javascript">

    var cloudOptions = new Array("cloud_servers", "cloud_files", "cloud_sites");

    $(document).ready(function() {

        for(var i=0; i<cloudOptions.length; i++)
        {
            document.getElementById(cloudOptions[i] + "_option").value = "";
        }

        var errorMsg = "${errorMsg}";
        if (errorMsg.length > 0) {
            $("#errorMsgCel").html(errorMsg);
            $("#errorMsgCel").show();
        }
    });

    function toggleServiceOption(serviceId)
    {
        var optField = document.getElementById(serviceId + "_option");
        var optImg = document.getElementById("img_" + serviceId + "_option");

        if (optField.value == "") {
            optField.value = "on";
            optImg.src = "@{'/public/images/cbox-option-on.png'}";
            $('#your_cloud_' + serviceId).show();
        }
        else {
            optField.value = "";
            optImg.src = "@{'/public/images/cbox-option-off.png'}";
            $('#your_cloud_' + serviceId).hide();
        }
    }

    function submitForm()
    {
        var selectedServices = document.signupform.selectedServices;

        selectedServices.value = "";
        for(var i=0; i<cloudOptions.length; i++)
        {
            if (document.getElementById(cloudOptions[i] + "_option").value == "on") {
                selectedServices.value += cloudOptions[i] + ",";
            }
        }
        document.signupform.submit();
    }
</script>