#{extends 'cloudsignup-main.html' /}
#{set title:'Signup - Configure' /}

<style type="text/css">
    .rightpad {
        padding-right: 5px;
    }

    .textfield {
        width: 220px;
    }

    .service_review_header {
        font-weight: bold;
        font-size: 10pt;
    }

    .service_review_col {
        border-left: 1px solid gray;
        padding-left: 5px;
    }

    .service_purchased {
        font-size: 16pt;
        color: #B0000E;
    }
</style>

<form name="signupform" method="post" action="@{CloudSignup.stepCreateAccountSubmitted()}">
<input type="hidden" name="selectedServices" value="${selectedServices}" />
<input type="hidden" name="username" value="${username}" />
<input type="hidden" name="useremail" value="${useremail}" />
<input type="hidden" name="password" value="${password}" />

<input type="hidden" name="organization" value="${organization}" />
<input type="hidden" name="firstname" value="${firstname}" />
<input type="hidden" name="lastname" value="${lastname}" />
<input type="hidden" name="email" value="${email}" />
<input type="hidden" name="phone" value="${phone}" />

<input type="hidden" name="street" value="${street}" />
<input type="hidden" name="city" value="${city}" />
<input type="hidden" name="state" value="${state}" />
<input type="hidden" name="zip" value="${zip}" />
<input type="hidden" name="country" value="${country}" />

<div>
    <img src="@{'/public/images/cloudsignup/cloud-hosting-step3.gif'}" alt="step 3" />
</div>


<div id="content-frame">

    <h2 style="margin-top: 20px;">Place Your Order</h2>
    <hr size="1" />

    <table cellspacing="0" cellpadding="0" border="0" style="margin-top: 30px;">
        <tr>
            <td style="border-right: 1px solid #cccccc; width: 690px; padding-right: 30px;">

                <div class="section-header">
                    01. Please Review Your Purchase & Provide Your Credit Card Information
                </div>
                <hr size="1" />

                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="width: 200px;">
                            <div class="service_review_header">ITEM</div>
                            <div id="cloud_servers" class="service_purchased" style="display: none;">Cloud Servers</div>
                            <div id="cloud_sites" class="service_purchased" style="display: none;">Cloud Sites</div>
                            <div id="cloud_files" class="service_purchased" style="display: none;">Cloud Files</div>
                        </td>
                        <td class="service_review_col" style="width: 200px;">
                            <div class="service_review_header">COST</div>
                            <div id="cloud_servers_cost" class="service_purchased" style="display: none;">Usage Based</div>
                            <div id="cloud_sites_cost" class="service_purchased" style="display: none;">$149</div>
                            <div id="cloud_files_cost" class="service_purchased" style="display: none;">Usage Based</div>
                        </td>
                        <td class="service_review_col" style="width: 200px;">
                            <div class="service_review_header">BILLING TERM</div>
                            <div id="cloud_servers_billtype" class="service_purchased" style="display: none;">Monthly</div>
                            <div id="cloud_sites_billtype" class="service_purchased" style="display: none;">Monthly</div>
                            <div id="cloud_files_billtype" class="service_purchased" style="display: none;">Monthly</div>
                        </td>
                    </tr>
                </table>

                <table style="margin-top: 10px;">
                    <tr>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td>Card Type:</td>
                        <td style="padding-left: 10px;"><input type="radio" name="cardtype" value="visa" /></td>
                        <td><img src="@{'/public/images/cloudsignup/visa.png'}" alt="visa" /></td>
                        <td style="padding-left: 10px;"><input type="radio" name="cardtype" value="master" /></td>
                        <td><img src="@{'/public/images/cloudsignup/mastercard.png'}" alt="mastercard" /></td>
                        <td style="padding-left: 10px;"><input type="radio" name="cardtype" value="amex" /></td>
                        <td><img src="@{'/public/images/cloudsignup/amex.png'}" alt="amex" /></td>
                    </tr>
                </table>

                <table cellspacing="0" cellpadding="0" border="0" style="margin-top: 10px;">
                    <tr>
                        <td></td>
                        <td>Card Number</td>
                        <td style="width: 100px;">&nbsp;</td>
                        <td></td>
                        <td>Security Code (CVV)</td>
                    </tr>

                    <tr>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="text" name="ccnum" class="textfield" maxlength="16" /></td>
                        <td></td>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="text" name="cvv" class="textfield" maxlength="100" /></td>
                    </tr>

                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Cardholder's name</td>
                        <td></td>
                        <td></td>
                        <td>Esp Month / Esp Year</td>
                    </tr>

                    <tr>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="text" name="ccname" class="textfield" maxlength="100" /></td>
                        <td></td>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td>
                            <select name="expmonth">
                                <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>
                                <option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
                            </select>
                            &nbsp;/&nbsp;
                            <select name="expyear">
                                <option>2010</option><option>2011</option><option>2012</option><option>2013</option><option>2014</option><option>2015</option>
                                <option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <div class="section-header" style="margin-top: 50px;">
                    02. How Did You Hear About Us?
                </div>
                <hr size="1" />

                <table cellspacing="0" cellpadding="0" border="0" style="margin-top: 10px;">
                    <tr>
                        <td></td>
                        <td>Promo or Referral Code</td>
                        <td style="width: 100px;">&nbsp;</td>
                        <td></td>
                        <td>How did you hear about us?</td>
                    </tr>

                    <tr>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td><input type="text" name="refcode" class="textfield" maxlength="100" /></td>
                        <td></td>
                        <td class="rightpad"><img src="@{'/public/images/cloudsignup/field_arrow.png'}" alt="field arrow" /></td>
                        <td>
                            <select "referrer">
                                <option>Please Select</option>
                                <option>Banner Ad</option>
                                <option>Blog Post</option>
                                <option>Email Marketing</option>
                                <option>Search Engine</option>
                                <option>Referral</option>
                                <option>Rackspace</option>
                                <option>Other</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <div align="center" style="margin-top: 30px;">
                    <img src="@{'/public/images/cloudsignup/create_account.png'}" alt="create account" style="cursor: pointer;" onclick="submitForm()" />
                    <br/>
                    <div style="font-weight: bold; margin-top: 10px;">Please click only once, this may take 30+ seconds</div>
                </div>

                <table style="margin-top: 30px; width: 100%;">
                    <tr>
                        <td>
                            <div style="cursor: pointer;">
                                <img src="@{'/public/images/cloudsignup/cloud-hosting-back.gif'}" alt="go back" onclick="goBack()" />
                            </div>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
            </td>
            <td valign="top" style="padding-left: 10px;">
                <div>Questions?</div>
                <hr size="1" />
                <div style="font-size: 12pt;">
                    If you have any questions about our Cloud Products, Please <a href="#">Live Chat</a> with us now!
                </div>
            </td>
        </tr>
    </table>
</div>
</form>

<script type="text/javascript">

    $(document).ready(function() {

        var selectedServices = document.signupform.selectedServices.value;
        selectedServices = selectedServices.split(',');

        for (var i=0; i<selectedServices.length; i++) {
            if (selectedServices[i] != "") {
                showService(selectedServices[i]);
            }
        }
    });

    function showService(serviceId) {
        $('#' + serviceId).show();
        $('#' + serviceId + "_cost").show();
        $('#' + serviceId + "_billtype").show();
    }

    function goBack() {
        window.history.back();
    }

    function submitForm()
    {
        document.signupform.submit();
    }
</script>