${username},

You have attempted to authenticate unsuccessfully too many times. For your security, your Rackspace Cloud Account has been locked. Please contact Rackspace Support for assistance.

Best Regards,

The Rackspace Cloud
US Toll Free: 1.800.926.4141
International: +1.210.312.5400
UK: 0800-083-3012