#{extends 'ui-main.html' /}
#{set title:'RsIdm - Answer Secret Question' /}

<h1>Answer Secret Question</h1>

<p>
    You can reset your password by answering your secret question.
</p>

<h1>Follow the steps below</h1>
<form name="securityform" method="post" action="@{Ui.answerSecretSubmitted()}">
<div style="margin: 10px 5px 10px 15px;">
    <ol>
        <li>Username: <input type="text" name="username" id="username" value="${username}" readonly /></li>
        <li style="margin-top: 10px;">
            <div>Answer the following question:</div><br/>
            <div id="securityimg"></div>
            <div id="securityquestion"></div>
            <div style="margin-top: 10px;">
                <textarea name="securityAnswer" rows="5" cols="5" style="width: 300px; height: 50px;"></textarea>
            </div>
            <div style="margin-top: 10px;">
                <input type="submit" value="Submit" />
            </div>
        </li>
    </ol>
</div>
</form>
<div style="margin-left: 15px;">
    <a href="/ui/forgotPassword">< back</a>
</div>

<script type="text/javascript">
function getSecurityImg()
{
    var url = "/ui/getUserSecurityAttributes";
    var username = document.securityform.username.value;

    if (jQuery.trim(username) == "") {
        alert("Please enter a username");
        document.securityform.username.focus();
        $("#username").glow();
        return;
    }

    $.ajax({ url: url,
        type: "GET",
        data: {
            username: $.URLEncode(username)
        },
        success: function(data) {
            handleGetSecurityImg(data);
        },
        error: function(xhr) {
            handleGetSecurityImg(xhr.responseText);
        }
    });
}

function handleGetSecurityImg(data)
{
    var securityAttributes = eval('(' + data + ')');
    var imgpath = securityAttributes.img_path;
    var securityQ = securityAttributes.security_question;
    
    $('#securityimg').html("<img src='" + imgpath + "' width=150 alt='preview' style='vertical-align: middle;' />");
    $('#securityquestion').text(securityQ);
}

$(document).ready(function() {
    getSecurityImg();
});
</script>