#{extends 'ui-main.html' /}
#{set title:'RsIdm - Forgot Password' /}

<h1>Password Retrieval</h1>

<p>
    If you have forgotten your password, you can view your password hint or get a temporary password here.
</p>

<h1>Follow the steps below</h1>

<form name="forgotpasswordform" method="post" action="#">
<div style="margin: 10px 5px 10px 15px;">
    <ol>
        <li>Enter your username: <input type="text" name="username" id="username" /></li>
        <li style="margin-top: 15px;">
            Try to remember your password by:
            <div id="passwordhint_link">[<a href="javascript:getPasswordHint()">looking at your password hint</a>]</div>
            <div id="passwordhint_cel" style="display: none;"></div>
        </li>
        <li style="margin-top: 15px;">
            Or, reset your password by:<br/>
            [<a href="javascript:answerSecretQ()">answering the secret question</a>]
        </li>
    </ol>
</div>
</form>

<div style="margin-left: 15px;"><a href="/">< back to login</a></div>

<script type="text/javascript">

var REMEMBERME_COOKIE_NAME = "rememberuser";

$(document).ready(function() {

    var rememberMeCookie = $.cookie(REMEMBERME_COOKIE_NAME);
    if (rememberMeCookie != null && rememberMeCookie != "") {
        document.forgotpasswordform.username.value = rememberMeCookie;
    }
});

function getPasswordHint()
{
    var url = "/ui/getPasswordHint";
    var username = document.forgotpasswordform.username.value;

    if (jQuery.trim(username) == "") {
        alert("Please enter a username");
        document.forgotpasswordform.username.focus();
        $("#username").glow();
        return;
    }
    
    $.ajax({ url: url,
            type: "GET",
            data: {
                username: $.URLEncode(username)
            },
            success: function(response) {
                $("#passwordhint_link").hide();
                $("#passwordhint_cel").html("&nbsp;Hint: " + response + " - [<a href='javascript:hidePasswordHint()'>hide</a>]");
                $("#passwordhint_cel").width("auto");
                $("#passwordhint_cel").show();
                $("#passwordhint_cel").glow();
            },
            error: function(xhr) {
                alert('Error!  Status = ' + xhr.status + ": " + xhr.responseText);
            }
        });
}
function hidePasswordHint()
{
    $("#passwordhint_cel").hide();
    $("#passwordhint_link").show();
    $("#passwordhint_link").glow();
}

function answerSecretQ()
{
    var username = document.forgotpasswordform.username.value;

    if (jQuery.trim(username) == "") {
        alert("Please enter a username");
        document.forgotpasswordform.username.focus();
        $("#username").glow();
        return;
    }

    window.location = "/ui/answerSecretQ?username=" + $.URLEncode(username);
}
</script>