#{extends 'ui-main.html' /}
#{set title:'RsIdm - Providers' /}

<style type="text/css">
    .providers td
    {
        border-bottom: 1px solid gray;
    }
</style>

<h1>Resource Servers</h1>

<p>
    Here is a list of all our registered Resource Servers.
</p>

<hr>

<div style="float: left; margin: 10px 5px 10px 15px;">
    <table cellpadding="3" cellspacing="0" class="providers">
        <tr>
            <td>Organization Name</td>
            <td style="padding-left: 5px;">Unique Provider Name</td>
            <td align="center">Action</td>
        </tr>
    #{list items:providers, as:'provider'}
        <tr>
            <td>${provider.oname}</td>
            <td style="padding-left: 5px;">${provider.name}</td>
            <td><a href="/ui/registerConsumer?providername=${provider.name}">register as client</a></td>
        </tr>
    #{/list}
    </table>
    <br/>
    <a href="/ui/registerProvider">> register new</a>
</div>