#{extends 'ui-main.html' /}
#{set title:'RsIdm - Register Consumer' /}

<h1>Register as a Consumer</h1>

<p>
    Here you can register as a consumer to the provider <b>${providername}</b>.  You will
    receive a consumer key and a consumer secret that will allow you to make oauth requests against
    the provider's API.
</p>

<h1>Enter a Your Information</h1>

<form name="createform" action="@{Ui.registerConsumerSubmitted()}" style="float: left; width: 480px;">
    <input type="hidden" name="providername" value="${providername}" />

    <div style="float: left; margin: 10px 5px 10px 15px;">
        <table>
            <tr>
                <td>
                    <label>Organization Name</label>
                    <input name="oname" type="text" onkeyup="validateOrganizationName()" onfocus="toggleRequirements(this)" maxlength="100" style="width: 170px;" />
                </td>
                <td valign="bottom">
                    <img id="oname_validated" src="/public/images/check_icon.png" alt="organization name validated" style="width: 14px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Consumer Name</label>
                    <input name="consumername" type="text" onkeyup="validateConsumerName()" onfocus="toggleRequirements(this)" maxlength="100" style="width: 170px;" />
                </td>
                <td valign="bottom">
                    <img id="consumername_validated" src="/public/images/check_icon.png" alt="consumer name validated" style="width: 14px;" />
                </td>
            </tr>
        </table>

        <br />
        <input id="btn_nextstep" class="button" type="button" value="Register" onclick="submitForm()" disabled="true" />
    </div>
    <div style="float: right; width: 220px; padding-top: 10px;">

            <div style="float: left;"><label>Requirements:</label></div>
            <div id="oname_requirements" class="requirements_box" style="display: none;">
                <ul style="margin: 0; padding: 0;">
                    <li id="req_onamelength" class="requirement_bullet_gray">Organization Name is at least 2 characters long</li>
                </ul>
            </div>
            <div id="consumername_requirements" class="requirements_box" style="display: none;">
                <ul style="margin: 0; padding: 0;">
                    <li id="req_consumernamelength" class="requirement_bullet_gray">Consumer Name is at least 2 characters long</li>
                    <li id="req_consumernamenottaken" class="requirement_bullet_gray">Consumer Name is not taken</li>
                    <li id="req_consumernamevalidchar" class="requirement_bullet_gray">Only Alphanumeric characters and the characters (-_.) in the Consumer Name</li>
                </ul>
            </div>
    </div>
</form>

<script type="text/javascript">

var onamevalid = false;
var consumernamevalid = false;
var usernamevalid = false;
var passwordvalid = false;

function validateOrganizationName()
{
    var oname = document.createform.oname.value;

    onamevalid = true;
    if (oname.length < 2)
    {
        setRule('req_onamelength', 'failed');
        onamevalid = false;
    }
    else
    {
        setRule('req_onamelength', 'passed');
    }
    toggleONameIcon();
}

function validateConsumerName()
{
    var consumername = document.createform.consumername.value;

    consumernamevalid = true;
    if (consumername.length < 2)
    {
        setRule('req_consumernamelength', 'failed');
        setRule('req_consumernamenottaken', 'failed');
        consumernamevalid = false;
    }
    else
    {
        setRule('req_consumernamelength', 'passed');
        setRule('req_consumernamenottaken', 'passed');
    }

    // valid chars
    var invalidCharRegex = new RegExp(/[^A-Za-z0-9._-]/);
    if(invalidCharRegex.test(consumername) || consumername.length == 0) {
        setRule('req_consumernamevalidchar', 'failed');
        consumernamevalid = false;
    }
    else
    {
        setRule('req_consumernamevalidchar', 'passed');
    }

    toggleConsumerNameIcon();
}

function validateUserName()
{
    var username = document.createform.username.value;

    usernamevalid = true;
    if (username.length < 1)
    {
        setRule('req_usernamelength', 'failed');
        usernamevalid = false;
    }
    else
    {
        setRule('req_usernamelength', 'passed');
    }
    toggleUsernameIcon();
}

function validatePassword()
{
    var password = document.createform.password.value;

    passwordvalid = true;
    if (password.length < 1)
    {
        setRule('req_passwordlength', 'failed');
        passwordvalid = false;
    }
    else
    {
        setRule('req_passwordlength', 'passed');
    }
    togglePasswordIcon();
}

function toggleONameIcon()
{
    if (onamevalid)
    {
        $('#oname_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#oname_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function toggleConsumerNameIcon()
{
    if (consumernamevalid)
    {
        $('#consumername_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#consumername_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function toggleUsernameIcon()
{
    if (usernamevalid)
    {
        $('#username_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#username_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function togglePasswordIcon()
{
    if (passwordvalid)
    {
        $('#password_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#password_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function toggleNextStep()
{
    if (onamevalid && consumernamevalid)
    {
        $('#btn_nextstep').fadeTo('fast', 1.0);
        document.getElementById('btn_nextstep').disabled = false;
    }
    else
    {
        $('#btn_nextstep').fadeTo('fast', 0.1);
        document.getElementById('btn_nextstep').disabled = true;
    }
}

function setRule(id, passfail)
{
    if (passfail == 'passed')
    {
        $('#' +id).attr("class","requirement_bullet_green");
    }
    else
    {
        $('#' +id).attr("class","requirement_bullet_gray");
    }
}

function toggleRequirements(elem)
{
    var effect = 'slide';
    var options = {};
    var effectmms = 500;

    // hide all requirements
    $("#oname_requirements").hide();
    $("#consumername_requirements").hide();

    switch(elem.name)
    {
        case "oname":
            $("#oname_requirements").toggle(effect, options, effectmms); break;
        case "consumername":
            $("#consumername_requirements").toggle(effect, options, effectmms); break;
        case "username":
            $("#username_requirements").toggle(effect, options, effectmms); break;
        case "password":
            $("#password_requirements").toggle(effect, options, effectmms); break;
    }
}

function strrev(str) {
  return str.split("").reverse().join("");
}

function submitForm()
{
    document.createform.submit();
}

$(document).ready(function() {
   document.createform.oname.focus();

   validateOrganizationName();
   validateConsumerName();

   $('#oname_validated').fadeTo('fast', 0.2);
   $('#consumername_validated').fadeTo('fast', 0.2);

   $('#btn_nextstep').fadeTo('fast', 0.5);
 });
</script>