#{extends 'ui-main.html' /}
#{set title:'RsIdm - Reset Password' /}

<h1>Reset Password</h1>

<p>
    Reset your password here
</p>

<h1>Enter your new password</h1>
<form name="resetpasswordform" action="@{Ui.resetPasswordSubmitted()}" style="float: left; width: 480px;">
    <div style="float: left; margin: 10px 5px 10px 15px;">
        <table>
            <tr>
                <td>
                    <label>Username:</label>
                    <input name="idname" type="text" readonly value="${username}" style="width: 170px;" />
                </td>
                <td valign="bottom">
                    <img id="idname_validated" src="/public/images/check_icon.png" alt="id name validated" style="width: 14px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                    <input type="password" name="password" type="text" onkeyup="validatePassword()" onfocus="toggleRequirements(this)" maxlength="100" style="width: 170px;" />
                </td>
                <td valign="bottom">
                    <img id="password_validated" src="/public/images/check_icon.png" alt="password validated" style="width: 14px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" type="text" onkeyup="validatePasswordMatches()" onfocus="toggleRequirements(this)" maxlength="100" style="width: 170px;" />
                </td>
                <td valign="bottom">
                    <img id="confirm_validated" src="/public/images/check_icon.png" alt="confirm password validated" style="width: 14px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password Hint</label>
                    <input name="passwordHint" type="text" onkeyup="validatePasswordHint()" onfocus="toggleRequirements(this)" maxlength="100" style="width: 170px;" />
                </td>
                <td valign="bottom">
                    <img id="hint_validated" src="/public/images/check_icon.png" alt="password hint validated" style="width: 14px;" />
                </td>
            </tr>
        </table>

        <br />
        <input id="btn_nextstep" class="button" type="button" value="Submit" onclick="submitForm()" disabled="true" />
        <br/>
        <br/>
        &nbsp;
    </div>
    <div style="float: right; width: 220px; padding-top: 10px;">

            <div style="float: left;"><label>Requirements:</label></div>

            <div id="uname_requirements" class="requirements_box" style="display: none;">
                None
            </div>

            <div id="pwd_requirements" class="requirements_box" style="display: none;">
                <ul style="margin: 0; padding: 0;">
                    <li id="req_pwdvalidchar" class="requirement_bullet_gray">Password contains an upper case letter, a lower case letter, a number, and a symbol</li>
                    <li id="req_pwdlength" class="requirement_bullet_gray">Password is at least 7 characters long</li>
                    <li id="req_pwdnosequence" class="requirement_bullet_gray">Password must not contain a sequence of numbers of 3 or more</li>
                    <li id="req_pwdvalidword" class="requirement_bullet_gray">Password isn't a forbidden word</li>
                    <li id="req_pwdnoname" class="requirement_bullet_gray">Password doesn't contain the Username</li>
                </ul>
            </div>

            <div id="pwd_matches" class="requirements_box" style="display: none;">
                <ul style="margin: 0; padding: 0;">
                    <li id="req_pwdmatches" class="requirement_bullet_gray">Password matches</li>
                </ul>
            </div>

            <div id="hint_requirements" class="requirements_box" style="display: none;">
                <ul style="margin: 0; padding: 0;">
                    <li id="req_hintsequence" class="requirement_bullet_gray">The Password Hint does not contain part of the password</li>
                    <li id="req_hintfirstlast" class="requirement_bullet_gray">The first and last character of the Password Hint is not the same as the Password's</li>
                    <li id="req_hintreverse" class="requirement_bullet_gray">The Password Hint is not part of the password in reverse.</li>
                    <li id="req_hintreplaced" class="requirement_bullet_gray">The Password Hint is not part of the password with obvious symbols replaced.</li>
                </ul>
            </div>
    </div>
</form>

<script type="text/javascript">
// Globals
var pwdvalid = false;
var pwdmatches = false;
var hintvalid = false;

// functions
function toggleRequirements(elem)
{
    var effect = 'slide';
    var options = {};
    var effectmms = 500;

    // hide all requirements
    $("#pwd_requirements").hide();
    $("#pwd_matches").hide();
    $("#hint_requirements").hide();

    switch(elem.name)
    {
        case "password":
            $("#pwd_requirements").toggle(effect, options, effectmms); break;
        case "confirmPassword":
            $("#pwd_matches").toggle(effect, options, effectmms); break;
        case "passwordHint":
            $("#hint_requirements").toggle(effect, options, effectmms); break;
    }
}

function validatePassword()
{
    var idname = document.resetpasswordform.idname.value;
    var pwd = document.resetpasswordform.password.value;

    pwdvalid = true;

    // password length
    if (pwd.length < 7 )
    {
        setRule('req_pwdlength', 'failed');
        pwdvalid = false;
    }
    else {
        setRule('req_pwdlength', 'passed');
    }

    // valid characters set
    var upperRegex = new RegExp(/[A-Z]/);
    var lowerRegex = new RegExp(/[a-z]/);
    var numberRegex = new RegExp(/\d/);
    var symbolRegex = new RegExp(/\W/);

    var char_valid = (upperRegex.test(pwd) && lowerRegex.test(pwd)
        && numberRegex.test(pwd) && symbolRegex.test(pwd));

    if (!char_valid) {
        setRule('req_pwdvalidchar', 'failed');
        pwdvalid = false;
    }
    else {
        setRule('req_pwdvalidchar', 'passed');
    }

    // not a forbidden word
    var pwd2 = jQuery.trim(pwd.replace("@", "a").replace("0", "o").replace(" ", ""));
    var wordRegex = new RegExp(/password/i);
    var word_valid = !wordRegex.test(pwd2);
    if (!word_valid || pwd.length == 0) {
        setRule('req_pwdvalidword', 'failed');
        pwdvalid = false;
    }
    else {
        setRule('req_pwdvalidword', 'passed');
    }

    // doesn't have repeating char
    var no_sequence = true;
    for(var i=0; i<pwd.length; i++)
    {
        var curChar = pwd[i];
        var numCount = 1;
        var numCharToCheck = 2;

        for (var j=i+1; j<pwd.length;j++) {
            if (pwd[j] == curChar) {
                numCount++;
            }
            if (numCharToCheck == 0) {
                break;
            }
        }
        if (numCount >= 3) {
            no_sequence = false;
            break;
        }
    }
    if (!no_sequence || pwd.length == 0) {
        setRule('req_pwdnosequence', 'failed');
        pwdvalid = false;
    }
    else {
        setRule('req_pwdnosequence', 'passed');
    }

    // username not in password
    var usernameRegex = new RegExp(idname);
    var no_username = !usernameRegex.test(pwd);

    if (!no_username || pwd.length == 0) {
        setRule('req_pwdnoname', 'failed');
        pwdvalid = false;
    }
    else {
        setRule('req_pwdnoname', 'passed');
    }

    togglePasswordIcon();
    validatePasswordMatches();
}

function validatePasswordMatches()
{
    var password = document.resetpasswordform.password.value;
    var password2 = document.resetpasswordform.confirmPassword.value;

    if (password != "" && password == password2) {
        setRule('req_pwdmatches', 'passed');
        pwdmatches = true;
    }
    else {
        setRule('req_pwdmatches', 'failed');
        pwdmatches = false;
    }

    togglePasswordMatchIcon();
}

function validatePasswordHint()
{
    var numchar2compare = 4;

    var password = document.resetpasswordform.password.value.toLowerCase();
    password = password.replace(/^\s*|\s*$/g,'');

    var hint = document.resetpasswordform.passwordHint.value.toLowerCase();
    hint = hint.replace(/\s*|\s*/g,'');

    hintvalid = true;

    // hint not empty
    if (hint.length == 0)
    {
        setRule('req_hintsequence', 'failed');
        setRule('req_hintfirstlast', 'failed');
        setRule('req_hintreverse', 'failed');
        setRule('req_hintreplaced', 'failed');
        hintvalid = false;
        toggleHintIcon();
        return;
    }

    if (password.length >= numchar2compare)
    {
        // compare sequence
        var seqvalid = comparePartialPwd(numchar2compare, password, hint);
        if (seqvalid)
        {
            setRule('req_hintsequence', 'passed');
        }
        else
        {
            setRule('req_hintsequence', 'failed');
            hintvalid = false;
        }

        // compare reverse
        var hintrev = strrev(hint);
        var revvalid = comparePartialPwd(numchar2compare, password, hintrev);
        if (revvalid)
        {
            setRule('req_hintreverse', 'passed');
        }
        else
        {
            setRule('req_hintreverse', 'failed');
            hintvalid = false;
        }

        // compare char replaced str
        var replacedhint = hint.replace('@', 'a')
        .replace('3', 'e')
        .replace('1', 'i')
        .replace('!', 'i')
        .replace('0', 'o');

        var replacedvalid = comparePartialPwd(numchar2compare, password, replacedhint);
        if (replacedvalid)
        {
            setRule('req_hintreplaced', 'passed');
        }
        else
        {
            setRule('req_hintreplaced', 'failed');
            hintvalid = false;
        }
    }
    else {
        setRule('req_hintsequence', 'failed');
        setRule('req_hintreverse', 'failed');
        setRule('req_hintreplaced', 'failed');
        hintvalid = false;
    }

    // compare first and last letter
    if (password.length > 0 && hint.length > 0)
    {
        if (password[0] == hint[0] &&
            password[password.length - 1] == hint[hint.length - 1])
        {
            setRule('req_hintfirstlast', 'failed');
            hintvalid = false;
        }
        else
        {
            setRule('req_hintfirstlast', 'passed');
        }
    }

    toggleHintIcon();
}

function comparePartialPwd(numchar2compare, password, str2compare)
{
    var seqvalid = true;
    var startindex = 0;
    while(startindex + (numchar2compare - 1) <= password.length)
    {
        var pwd_substr = password.substr(startindex, (numchar2compare - 1));
        if (str2compare.indexOf(pwd_substr) > 0)
        {
            seqvalid = false;
        }
        startindex++;
    }

    return seqvalid;
}

function loadXmlDoc(text)
{
    if (window.DOMParser)
    {
        parser=new DOMParser();
        xmlDoc=parser.parseFromString(text,"text/xml");
    }
    else // Internet Explorer
    {
        xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
        xmlDoc.async="false";
        xmlDoc.loadXML(text);
    }
    return xmlDoc;
}

function getNodeVal(xmldoc, nodename)
{
    if (xmldoc.getElementsByTagName(nodename)[0]){
        return xmldoc.getElementsByTagName(nodename)[0].firstChild.nodeValue;
    }
    else {
        return 0;
    }
}

function setRule(id, passfail)
{
    if (passfail == 'passed')
    {
        $('#' +id).attr("class","requirement_bullet_green");
    }
    else
    {
        $('#' +id).attr("class","requirement_bullet_gray");
    }
}

function strrev(str) {
  return str.split("").reverse().join("");
}

function togglePasswordIcon()
{
    if (pwdvalid)
    {
        $('#password_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#password_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function togglePasswordMatchIcon()
{
    if (pwdmatches)
    {
        $('#confirm_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#confirm_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function toggleHintIcon()
{
    if (hintvalid)
    {
        $('#hint_validated').fadeTo('fast', 1);
    }
    else
    {
        $('#hint_validated').fadeTo('fast', 0.1);
    }
    toggleNextStep();
}

function toggleNextStep()
{
    if (pwdvalid && pwdmatches && hintvalid)
    {
        $('#btn_nextstep').fadeTo('fast', 1.0);
        document.getElementById('btn_nextstep').disabled = false;
    }
    else
    {
        $('#btn_nextstep').fadeTo('fast', 0.1);
        document.getElementById('btn_nextstep').disabled = true;
    }
}

function submitForm()
{
    this.resetpasswordform.submit();
}

$(document).ready(function() {

   validatePassword();
   validatePasswordMatches();
   validatePasswordHint();

   $('#password_validated').fadeTo('fast', 0.2);
   $('#confirm_validated').fadeTo('fast', 0.2);
   $('#hint_validated').fadeTo('fast', 0.2);
   $('#btn_nextstep').fadeTo('fast', 0.5);

 });

</script>