#{extends 'ui-main.html' /}
#{set title:'RsIdm - Setup Security Questions' /}

<script type="text/javascript" src="/public/javascripts/ajaxupload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var button = $('#upload_button'), interval;

    new AjaxUpload(button, {
        action: '/ui/securityQImgUpload',
        name: 'userfile',
        onSubmit : function(file, ext){

            // Allow only images. You should add security check on the server-side.
            if (ext && /^(jpg|png|jpeg|gif|bmp|tif|tiff|tga|dds|pbm|pct|pnt|psp|pict)$/.test(ext)){

                button.text('Uploading');
                this.disable();

                // Uploading -> Uploading. -> Uploading...
                interval = window.setInterval(function(){
                    var text = button.text();
                    if (text.length < 13){
                        button.text(text + '.');
                    } else {
                        button.text('Uploading');
                    }
                }, 200);
            } else {
                // extension is not allowed
                $('#img_preview').text('Error: only images are allowed');
                // cancel upload
                return false;
            }
        },
        onComplete: function(file, response){
                button.text('[upload]');

                window.clearInterval(interval);

                // enable upload button
                this.enable();

                // preview image
                var imgpath = "/public/securityimages/" + file;
                document.securityquestionform.securityImgPath.value = imgpath;

                $('#img_preview').html("<img src='" + imgpath + "' width=150 alt='preview' style='vertical-align: middle;' />");
        }
    });
});
</script>

<h1>Security Question</h1>

<p>
    Here you can enter a security question to identity yourself should you forget your password.
</p>

<h1>Follow the steps below</h1>

<form name="securityquestionform" method="post" action="@{Ui.SecretQuestionSubmitted()}">
<input type="hidden" name="username" value="${username}" />
<input type="hidden" name="securityImgPath" value="" />

<div style="margin: 10px 5px 10px 15px;">
    <ol>
        <li>
            <div>
                <div style="clear: both;">Upload an image</div>
                <div id="img_preview" style="border: 1px solid gray; width: 150px;">
                    <div style="margin: 40px 0 40px 0;" align="center">No Image Uploaded</div>
                </div>
                <div id="upload_button" style="cursor: pointer; margin-left: 50px; width: 50px; height: 22px;">[upload]</div>
            </div>
	</li>
        <li style="margin-top: 10px;">
            Enter a question about the image.  Try to ask a question that only you would
            know pertaining to the image.
            <br/>
            <textarea name="securityQuestion" rows="5" cols="5" style="width: 300px; height: 50px;"></textarea>
        </li>
        <li style="margin-top: 10px;">
            Enter the answer to your question.<br/>
            <textarea name="securityAnswer" rows="5" cols="5" style="width: 300px; height: 50px;"></textarea>
        </li>
    </ol>

    <br/>
    <div style="margin-left: 45px;">
        <input type="submit" value="submit" />
    </div>
</div>
</form>