<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
 
 
<html> 
<head> 
    <title>Login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="https://manage.rackspacecloud.com/resources/login_mosso.jsp" type="text/css"> 
    <script type="text/javascript">        
        var profileID = "UA-9811701-1";
        //Configure our JS framework
        var j2slconfig = window.j2slconfig = {
            j2slibraryRoot: "/resources/javascript",
            appRoot: "/",
 
            //Strip the leading '/''
            stripFrontRegex: /^\//,
            stripEndRegex: /\?.*/,
 
            pathRewrite: function(relative) {
                var sanatizedRelative = relative.replace(this.stripFrontRegex, "");
                sanatizedRelative = sanatizedRelative.replace(this.stripEndRegex, "");
 
                return this.j2slibraryRoot + sanatizedRelative;
            },
 
            htmlRewrite: function(relative) {
                var sanatizedRelative = relative.replace(this.stripFrontRegex, "");
                sanatizedRelative = sanatizedRelative.replace(this.stripEndRegex, "");
 
                return this.appRoot + sanatizedRelative;
            }
        };
    </script> 
    <script type="text/javascript" src="https://manage.rackspacecloud.com/resources/javascript/jquery/jquery-core.js"></script> 
    <script type="text/javascript" src="https://manage.rackspacecloud.com/resources/javascript/bootstrap.js"></script> 
    <script> 
 
        $(document).ready(function()
        {
            jQuery.each(jQuery.browser, function()
            {
                if ($.browser.msie)
                {
                    $('body').addClass('msie');
                    $('body').attr('id', 'version' + String(jQuery.browser.version).charAt(0));
                }
                else if ($.browser.safari)
                {
                    $('body').addClass('safari');
                }
                else if ($.browser.opera)
                {
                    $('body').addClass('opera');
                }
                else if ($.browser.mozilla)
                {
                    $('body').addClass('mozilla');
                }
            })
 
            $('html').addClass(navigator.platform);
        });
 
    </script> 
    <!--
        The HTML comment below is actually parsed by IE to load in a stylesheet
        only IE < 7 will see. All other browsers will safely ignore it.
    --> 
 
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="/resources/iepatches.jsp" type="text/css">
    <![endif]--> 
 
</head> 
<body> 
<script type="text/javascript" src="https://manage.rackspacecloud.com/resources/formhandler.jsp"></script> 
 
<!-- interface detected --> 
<table id="login-wrapper"> 
    <tbody> 
    <tr> 
        <td id="login-wrapper-cell"> 
 
            <div id="dialogContent"> 
                <div id="dialogTop"> 
                        
 
 
<form id="LoginForm" name="LoginForm" method="post" action="@{Ui.mossoLoginSubmitted()}" class="form">
    &nbsp;
 
 
    
    
    
    
    
    
 
    <div class="field"><label for="username"><strong>Username</strong></label><img class="fieldDot" width="10" height="10" src="https://manage.rackspacecloud.com/resources/images/ui_elements/forms/field_required.gif" alt="" name="username"></img><input tabindex="1" type="text" size="40" name="username"  onchange="checkFormElement( this, 'USERNAME' );"  id="username"></input> 
        <p class="formInstructions"><a 
                href='/pages/user_help.jsp'>Don't know your username?</a></p> 
    </div> 
 
 
    <div class="field"><label for="password"><strong>Password</strong></label><img class="fieldDot" width="10" height="10" src="https://manage.rackspacecloud.com/resources/images/ui_elements/forms/field_required.gif" alt="" name="password"></img><input tabindex="2" type="password" size="40" name="password"  onchange="checkFormElement( this, 'PASSWORD' );"  id="password"></input>
        <p class="formInstructions"><a 
                href='/pages/login_help.jsp'>Lost your password?</a></p> 
    </div> 
 
 
    <p id="buttonRow"> 
        <button id="submitButton" type="submit" tabindex="3"><span>Login</span></button> 
    </p> 
</form> 
<script type="text/javascript" language="JavaScript"> 
  <!--
  var focusControl = document.forms["LoginForm"].elements["username"];
 
  if (focusControl.type != "hidden" && !focusControl.disabled) {
     focusControl.focus();
  }
  // -->
</script> 
 
 
</div> 
<div id="dialogBottom"></div> 
</div> 
 
</td> 
</tr> 
</tbody> 
</table> 
 
<script type="text/javascript"> 
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
 
<script type="text/javascript"> 
    try {
        var pageTracker = _gat._getTracker(profileID);
        pageTracker._trackPageview();
    } catch(err) {
    }
</script> 
 
 
</body> 
</html> 
 